.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/working
analysis/just messing around
Amy_childadult_raw_data
data/adultsfaces
data/childfaces
data/clean_data
data/missing_values
data/testdata
